@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a demo system and doesn't save your data (unless you set it to do that!). It uses a cookie when you log in, but no tracking.</p>
<p>This code is under the MIT license.</p>